.sk{
	position: absolute;
	left: 190px;
	top: 40px;
	border-left:1px solid #b1191a ;
	padding: 3px 0 0 14px;
}
.nav{
	overflow: hidden;
}
.sk_list{
	float: left;
}
.sk_list ul li{
	float: left;
}
.sk_list ul li a{
	display: inline-block;
	line-height: 47px;
	padding: 0 30px;
	font-size: 16px;
	font-weight: 700;
	color: #000000;
}
.sk_con{
	float: right;
}
.sk_con ul li{
	float: left;
}
.sk_con ul li a{
	display: inline-block;
	line-height: 49px;
	padding: 0 20px;
	font-size: 14px;
}

.sk_con ul li:last-child a::after{
	font-family: 'icomoon';
	content:'\e91e';
}
/* 主体 */
.sk_container{
	
}
.sk_bd {
	
}
.sk_bd ul li{
	float: left;
	margin-right: 13px;
	overflow: hidden;
	width: 290px;
	height: 460px;
	border: solid 1px transparent;
}
.sk_bd ul li:hover{
	border: solid 1px #e12228;
}
.sk_bd ul li:nth-child(4n){
	margin-right: 0;
}